


<div class="bg-overlay"></div>

<div class="container hero2 mb-5 d-flex flex-column">
    <div class="row">
        <div class="col-9">
            <div class="card">
              <h2>Paquetes reservados</h2>
              <div class="mt-4">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Paquete</th>
                            <th scope="col">Fecha</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>do</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                        </table>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
             <h2>Cuentas</h2>   
             <div class="mt-4">
                 <div class="row">
                     <div class="col">1</div>
                     <div class="col">1</div>
                 </div>
                                  <div class="row">
                     <div class="col">1</div>
                     <div class="col">1</div>
                 </div>
                                  <div class="row">
                     <div class="col">1</div>
                     <div class="col">1</div>
                 </div>
                                  <div class="row">
                     <div class="col">1</div>
                     <div class="col">1</div>
                 </div>
                                  <div class="row">
                     <div class="col">1</div>
                     <div class="col">1</div>
                 </div>
                  <button type="submit" class="form-control botonResreva btn-evio" id="submit-button" name="submit" onsubmit="ConsultarDispo()">Comprar</button>
             </div>
            </div>
        </div>
        </div>
</div>
