
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GoKartCR</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GoKartCR.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/aos.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tooplate-gymso-style.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/sweetalert2.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css' asp-append-version="true">

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">

    <nav class="navbar navbar-expand-lg fixed-top ">
        <div class="container">

            <a class="navbar-brand" href="index.html">GoKartsCR</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link smoothScroll">Pistas</a>
                    </li>

                    <li class="nav-item">
                        <a href="#class" class="nav-link smoothScroll">Paquetes</a>
                    </li>

                    <li class="nav-item">
                        <a href="#schedule" class="nav-link smoothScroll">Eventos</a>
                    </li>

                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">Contactentos</a>
                    </li>
                    <li class="nav-item">
                        <a href="#contact" class="nav-link smoothScroll">
                            <img src="~/images/shopping-bag-free-icon-font.png" width="20" height="20" />
                            @{
                                var Carrito = Context.Request.Cookies["Carrito"];
                            }
                        </a>
                    </li>

                    @{
                        var Nombre = Context.Request.Cookies["Nombre"];
                        var Rol = Context.Request.Cookies["Rol"];

                        if (Nombre != null)
                        {
                        //si la cookie existe
                            //mostrar el nombre del usuario
                            <div class="nameuser" href=""> Bienvenido @Nombre </div>
                        }
                        else
                        {
                            //si la cookie no existe


                        }
                        if (Rol == "1")
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("preguntasFrecuentes", "Administrador")" class="nav-link smoothScroll">Administrar</a>
                            </li>
                        }

                    }

                </ul>
            </div>

        </div>
    </nav>
    @RenderBody()
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GoKartCR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/smoothscroll.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/sweetalert2.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    @{
        string classAlerta = string.Empty;
    }

    @if (TempData["Mensaje"] != null)
    {
        <script>
            var data = "@TempData["Mensaje"].ToString()"
            var data2 = data.split(".");
            console.log(data2)
              Swal.fire(
              data2[0],
              '',
              data2[1]
            )
        </script>

        TempData["Mensaje"] = null;
    }
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
